 <h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>  
<p>If you would like to Request Help Click Here
<p>To see all Rush How to videos <a class="btn btn-default" role="button" href="/videos">Click Here</a></p>
<p>To go to your Rush Portal <a href="/rushdash">Click Here</a></p>