<h1>Please watch the video pertaining to your problem before requesting help</h1>
<h2>If you are still stuck or need more help please follow the links below each video</h2>
<br>
<br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/Z1xHvWjJtOo" frameborder="0" allowfullscreen></iframe>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rhx7TnBPBAQ" frameborder="0" allowfullscreen></iframe>